* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

header {
  width: 100%;
  background-color: rgba(243, 243, 243, 0.473);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px); }
  header nav img {
    width: 62px;
    height: 62px; }
    header nav img:hover {
      transition: all 0.3s ease;
      opacity: 50%; }
  header nav ul .carritoGeneral {
    width: 32px;
    height: 32px; }
    header nav ul .carritoGeneral button {
      width: 42px;
      height: 42px;
      border: none;
      background: none; }
      header nav ul .carritoGeneral button img {
        width: 100%;
        height: 100%; }
  header nav ul li:hover {
    opacity: 50%;
    transition: all 0.3s ease; }
  header nav ul li a {
    font-weight: 600;
    color: #000 !important; }
    header nav ul li a img {
      width: 32px;
      height: 32px; }
  header nav .container-modal {
    width: 20vw;
    height: 40vh;
    position: fixed;
    top: 100%;
    left: 18%;
    background-color: #868686;
    z-index: 999;
    padding: 20px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    transition: all 0.7s ease;
    display: none;
    overflow-y: scroll; }
    header nav .container-modal h3 {
      font-size: 14px;
      font-weight: 600;
      margin-top: 5px;
      padding: 10px 10px 10px 10px;
      background-color: #fff; }
    header nav .container-modal #cerrarCarrito {
      width: 32px;
      height: 32px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #8d0000;
      color: #fff;
      border: none; }
      header nav .container-modal #cerrarCarrito:hover {
        transition: all 0.2s ease;
        opacity: 50%; }

main {
  width: 100%;
  height: 100%;
  padding: 0px 30px 0px 100px; }
  main .titulo {
    width: 100%; }
    main .titulo .titulo_img {
      width: 100%; }
      main .titulo .titulo_img img {
        width: 100%;
        height: auto;
        object-fit: cover;
        padding: 30px 120px; }
  main .contenedor_cards {
    width: 100%;
    height: 100%;
    padding: 40px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px; }
    main .contenedor_cards #cards_general {
      width: 90%;
      margin: 20px 20px;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      box-shadow: none; }
      main .contenedor_cards #cards_general .card {
        margin-top: 20px; }
        main .contenedor_cards #cards_general .card .precio_card {
          position: absolute;
          right: 0px;
          width: 45%;
          background-color: #8d0000;
          text-align: right; }
          main .contenedor_cards #cards_general .card .precio_card h4 {
            padding: 10px 10px;
            font-weight: 600;
            color: #fff; }
      main .contenedor_cards #cards_general img {
        height: 200px;
        width: auto;
        object-fit: cover;
        cursor: pointer; }
        main .contenedor_cards #cards_general img:hover {
          opacity: 80%;
          transition: all 0.3s ease; }
      main .contenedor_cards #cards_general a img {
        width: 22px;
        height: 22px; }
      main .contenedor_cards #cards_general .btn-dark {
        width: 100%;
        height: 40px;
        color: black;
        font-size: 15px;
        background: none;
        border: 2px solid #000; }
        main .contenedor_cards #cards_general .btn-dark:hover {
          transition: all 0.3s ease;
          background-color: #c0c0c0;
          color: black;
          border: 2px solid #c0c0c0; }
    main .contenedor_cards #contenedor-principal {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      display: none;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.616); }
      main .contenedor_cards #contenedor-principal #contenedor-interno {
        width: 800px;
        height: 600px;
        border: 2px solid #f3f3f3;
        padding: 2px;
        display: flex;
        justify-content: center;
        position: relative; }
        main .contenedor_cards #contenedor-principal #contenedor-interno #btn-cierra {
          cursor: pointer;
          background: transparent;
          border: none;
          color: #f3f3f3;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 2rem;
          padding: 10px 30px;
          background-color: #000; }
          main .contenedor_cards #contenedor-principal #contenedor-interno #btn-cierra:hover {
            opacity: 70%;
            transition: all 0.3s ease; }
        main .contenedor_cards #contenedor-principal #contenedor-interno #btn-retrocede {
          cursor: pointer;
          background: transparent;
          border: none;
          color: #f3f3f3;
          position: absolute;
          top: 50%;
          left: 0;
          font-size: 3rem;
          padding: 0px 30px; }
        main .contenedor_cards #contenedor-principal #contenedor-interno #btn-adelanta {
          cursor: pointer;
          background: transparent;
          border: none;
          color: #f3f3f3;
          position: absolute;
          top: 50%;
          right: 0;
          font-size: 3rem;
          padding: 0px 30px; }
        main .contenedor_cards #contenedor-principal #contenedor-interno #img-activa {
          width: 100%;
          height: 100%;
          object-fit: cover; }
          main .contenedor_cards #contenedor-principal #contenedor-interno #img-activa img {
            object-fit: cover; }

footer {
  width: 5%;
  height: 30%;
  position: fixed;
  top: 500px;
  left: 10px; }
  footer .contain_footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    footer .contain_footer a {
      margin: 20px 0px; }
      footer .contain_footer a:hover {
        transform: scale(140%);
        transition: all 0.2s ease; }
      footer .contain_footer a img {
        width: 32px;
        height: 32px; }
